doctype html
html
    head
        title= title
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/assets/css/style.css')
    body
        header
            .header-container
                .logo
                    a(href='./accueil')
                        if (title==="OnlineShop - Produit")
                            img(alt='logo', src='../assets/img/logo.svg', title='Accueil')
                        else
                            img(alt='logo', src='./assets/img/logo.svg', title='Accueil')
                nav
                    ul
                        li(class=title==="OnlineShop - Accueil" ? "active" : "")
                            a(href=title==="OnlineShop - Produit" ? '../accueil': "./accueil") Accueil
                        li(class=title==="OnlineShop - Produits" || title==="OnlineShop - Produit" ? "active" : "")
                            a(href=title==="OnlineShop - Produit" ? '../produits': "./produits") Produits
                        li(class=title==="OnlineShop - Contact" ? "active" : "")
                            a(href=title==="OnlineShop - Produit" ? '../contact': "./contact") Contact
                        li
                            a.shopping-cart(href=title==="OnlineShop - Produit" ? '../panier': "./panier", title='Panier')
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x.fa-inverse
                                    i.fa.fa-shopping-cart.fa-stack-1x
                                span.count 3
        block content
        footer
            p Par Jean-Christophe Martel et Julien Gauthier
        script(type='text/javascript', src=title==="OnlineShop - Produit" ? '../assets/js/jquery-3.2.1.min.js': './assets/js/jquery-3.2.1.min.js')
        script(type='text/javascript', src=title==="OnlineShop - Produit" ? '../assets/scripts/utils.js': './assets/scripts/utils.js')
        script(type='text/javascript', src=title==="OnlineShop - Produit" ? '../assets/scripts/products.service.js': './assets/scripts/products.service.js')
        script(type='text/javascript', src=title==="OnlineShop - Produit" ? '../assets/scripts/shopping-cart.service.js': './assets/scripts/shopping-cart.service.js')
        script(type='text/javascript', src=title==="OnlineShop - Produit" ? '../assets/scripts/shopping-cart.controller.js': './assets/scripts/shopping-cart.controller.js')
        block scripts
